<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="Fio">Введите ФИО: </label>
    <input type="text" th:field="*{Fio}" id="Fio"/>
    <!--    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
    <br/>
    <label for="Date">Введите год рождения: </label>
    <input type="text" th:field="*{Date}" id="Date"/>
    <!--    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>-->
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>